//==========================================
// Project colors
//==========================================

$black                 : #000000;
$white                 : #ffffff;
$blue                  : #00aced;
$yellow                : #ffed85;
$gray                  : #333333;
$grayLight             : #ededed;
$grayLighter           : #fafafa;
$grayMedium            : #8a8681;
$grayShadow            : #c3c3c3;