//========================================== 
// General project vars
//==========================================

$defaultFonts    : 'robotoregular';
$defaultPadding  : 15px;
$minPadding      : 16px;
$maxPadding      : 25px;
$defaultMargin   : 15px;
$minMargin       : 10px;
$maxMargin       : 25px;
$defaultMinWidth : 320px;
$defaultMaxWidth : 960px;
$totalColumns    : 12;